// process-selector.config

process {
    withLabel: small_slurm {
        executor = "slurm"
        cpus = "8"
        memory = "8.GB"
        time =  "1h"
    }
    withLabel: big_slurm {
        executor = "slurm"
        cpus = "16"
        memory = "70.GB"
        time =  "50h"
    }
    withLabel: medium_slurm {
        executor = "slurm"
        cpus = "8"
        memory = "20.GB"
        time =  "4h"
    }
}